<h3>Development Error</h3>
<p><b>Error Message</b> : <%= errorMessage %></p>
<p><b>Time</b> : <%= requestTime %></p>
<p><b>Url</b> : <%= requestUrl %></p>
<p><b>Metehod</b> : <%= requestMethod %></p>
<p><b>Token</b> : <%= token %></p>
<p><b>Post Request</b> : <%= postRequest %></p>

<p><b>User Detail</b> : <%= userDetail %></p>
