<%- include ie-check %>
<%- include('../common/head', {title: 'Forgot password email was sent', description: 'Forgot password email was sent'})
%>
<%- include('../common/heading-banner') %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3">
            <h3> Forgot password email was sent! </h3>
            <div class="alert alert-success">
                <%- message %>
            </div>
            <a href="/" class="btn btn-primary btn-block"> Ok </a>
        </div>
    </div>
</div>
<% include ../common/footer %>
<%- include('../common/foot', {
    scripts: []
}) %>