<!-- rendered in user-controller.js under the method 'showPasswordChangeForm' --->
<%- include ie-check %>
<%- include('../common/head', {title: 'Set Password', description: 'Please set your password.',}) %>
<%- include('../common/heading-banner') %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3">
      <div class="header"><h3>Set Password</h3></div>
      <%- include('../common/alert-message.ejs', {error: locals.error, notice: locals.notice}); %>
      <form method="post" role="form" action="/users/password/set/<%= locals.userId %>" class="registration-form form-horizontal sp-form">
        <input type="hidden" name="userId" value="<%= locals.userId %>">
        <div class="form-group group-password"><label class="col-sm-5">Password</label>
          <div class="col-sm-12">
            <input placeholder="Password" required type="password" name="password" class="form-control">
          </div>
        </div>
        <div class="form-group group-password"><label class="col-sm-5">Confirm Password</label>
          <div class="col-sm-12">
            <input placeholder="Confirm Password" required type="password" name="passwordConfirmation" class="form-control">
          </div>
        </div>
        <button type="submit" class="btn btn-register btn-sp-green">Set Password</button>
      </form>
    </div>
  </div>
</div>
<% include ../common/footer %>
<%- include('../common/foot') %>
